/****** TODO Sections *****/
// Pagination, portal, recruitment

/***** TODO Elements *****/
// badge, labels, jumbotron, links, Inputs groups

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&subset=latin-ext');
@main-font-family: 'Roboto', sans-serif;
// Weight
@font-weight-bold: bold;
// Size applies by bootstrap are commented
// @font-size-base:          14px;
// @font-size-small:         ceil((@font-size-base * 0.85)); // ~12px
@font-size-medium:           floor((@font-size-base * 1.15)); // ~16px
// @font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-x-large:          floor((@font-size-base * 1.45)); // ~20px
@font-size-xx-large:         floor((@font-size-base * 1.6)); // ~22px
// @font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
// @font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
// @font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
// @font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
// @font-size-h5:            @font-size-base; //14px
// @font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

/* Main colors */
@color-main: #0099cc;
@color-main-opacity-small: rgba(0, 173, 181, 0.3);
@color-main-opacity-medium: rgba(0, 173, 181, 0.6);
@color-text-main: #666;
@color-secondary: #0066cc;
@color-secondary-opacity-small: rgba(0, 110, 199, 0.3);
@color-secondary-opacity-medium: rgba(0, 110, 199, 0.6);
@color-white: #fff;
@color-danger: #dc3545;
@color-transparent: transparent;
@color-readonly: #adafae;
@color-disabled: @color-white;

// Header
@color-bg-header: @color-white;
@color-text-header: @color-white;
@color-border-header: @color-transparent;
@padding-header: 0px;

// Body
@color-title-body: @color-secondary;
@color-title-body-strong: @color-secondary;
@color-subtitle-body: @color-main;
@color-content-body: @color-main;
@color-content-body-strong: @color-secondary;

// Footer
@color-bg-footer: @color-main;
@color-footer-link: @color-secondary;
@color-footer-link-hover: @color-secondary;
@color-text-footer: @color-secondary;
@border-top-content-footer: none;
@border-bottom-content-footer: none;
@margin-top-content-footer: 300px;
@padding-top-content-footer: 0px;
@padding-bottom-content-footer: 0px;

// Cookies
@color-cookies: @color-secondary;
@color-bg-cookies: @color-main-opacity-medium;

/********** Start Buttons ***********/
// General
@border-radius-btn: 4px;
// General colors
@color-btn: @color-white;
@color-bg-btn: @color-secondary;
@color-border-btn: @color-secondary;
@color-hover-btn: @color-secondary;
@color-bg-hover-btn: @color-white;
@color-border-hover-btn: @color-secondary;
@color-readonly-btn: @color-readonly;
@color-box-shadow-btn: 0 0 0 0.5px @color-secondary;
// Header
@color-hover-btn-header: @color-secondary;
@color-bg-hover-btn-header: @color-white;
@color-btn-dropdown-header: @color-secondary;
@color-bg-btn-dropdown-header: @color-white;
@color-hover-btn-dropdown-header: @color-secondary;
@color-bg-hover-btn-dropdown-header: @color-white;
// Login
@color-btn-login: @color-secondary;
@color-bg-btn-login: @color-white;
@color-border-btn-login: @color-white;
// Ribbons
@color-hover-btn-ribbons: @color-white;
@color-bg-hover-btn-ribbons: @color-secondary;
@color-border-hover-btn-ribbons: @color-secondary;
@color-box-shadow-btn-ribbons: @color-box-shadow-btn;
// Danger
@color-btn-danger: @color-white;
@color-bg-btn-danger: @color-secondary;
@color-border-btn-danger: @color-secondary;
@color-box-shadow-btn-danger: @color-box-shadow-btn;
// Disabled
@color-btn-disabled: @color-disabled;
@color-bg-btn-disabled: @color-secondary;
@color-border-btn-disabled: @color-secondary;
// Dropdown
@color-btn-dropdown: @color-secondary;
@color-bg-btn-dropdown: @color-white;
@color-hover-btn-dropdown: @color-secondary;
@color-bg-hover-btn-dropdown: @color-white;
@color-border-btn-dropdown: @color-secondary;
@color-box-shadow-btn-dropdown: @color-box-shadow-btn;
// Dropdown Active
@color-btn-dropdown-active: @color-white;
@color-bg-btn-dropdown-active: @color-secondary;
// Dropdown Editor
@color-hover-btn-dropdown-editor: @color-secondary;
@color-bg-hover-btn-dropdown-editor: @color-white;
/********** End Buttons ***********/

// Forms
@color-address-form: @color-main;
@color-control-label-form: @color-secondary;
@color-control-label-checkbox-form: @color-main;
@color-control-label-checkbox-link-form: @color-secondary;
@color-control-label-checkbox-link-decoration-form: underline;

// Social links
@color-fa-sharing-links: @color-secondary;
@font-size-fa-sharing-links: xx-large;

/******* Start Blog *****/
// Blog title
@blog-title-color: @color-secondary;
@blog-subtitle-color: @color-main;
// blog_right_column
@blog-text-muted-color: @color-main;
@blog-list-color: @color-main;
@blog-section-title-font-weight: bold;
@blog-social-link-color: @color-secondary;
@blog-social-link-rss-color: @color-main;
// Blog post cover
@blog-cover-bg-color: @color-main;
@blog-cover-title-color: @color-white;
@blog-cover-title-font-weight: bold;
@blog-cover-link-font-size: 1.5rem;
@blog-cover-hover-color: @color-secondary;
@blog-cover-height: 35vh;
/******* End Blog *****/

/* Override styles */
:root {
    // footer
    --color-bg-footer: url("/theme_sande/static/img/vague.png") no-repeat top center / cover;
    // Breadcrumbs colors
    --color-bg: @color-white;
    --color-href: @color-secondary;
    --color-current: @color-main;
    // muk_website_scroll_up
    --scroll-bg-color: @color-secondary;
//     --scroll-font-size: you_size or 2.5em;
//     --scroll-bottom: you_bottom or 20px;
//     --scroll-right: you_right 20px;
//     --scroll-padding: you_padding or 10px 20px;
}
