/***************** General Body ***************/
// To see specific styles go that less file
// Ex: To see blog styles go to blog.less
body {
    // General font
    font-family: @main-font-family;

    // General text colors
    .text-primary {
        color: @color-secondary;
    }
    .text-secondary {
        color: @color-main;
    }

    /***** Start Body content *****/
    // Titles Content
    & h1, h2 {
        color: @color-title-body !important;
        font-weight: @font-weight-bold;
    }
    & h3, h3.text-muted, h2.text-muted {
        color: @color-subtitle-body !important;
        font-weight: @font-weight-bold;
        & strong {
            color: @color-title-body-strong;
        }
    }
    & h4 {
        color: @color-subtitle-body !important;
        & strong {
            color: @color-title-body-strong;
        }
        & a {
            font-weight: @font-weight-bold;
        }
    }
    // Content
    p {
        color: @color-content-body !important;
        strong {
            color: @color-content-body-strong;
        }
    }
    /***** End Body content *****/

    // Social links
    & .o_sharing_links {
        & .fa {
            color: @color-fa-sharing-links;
            font-size: @font-size-fa-sharing-links;
            &.o_twitter:hover {
                color: #4099FF;
            }
            &.o_google:hover, &.o_youtube:hover {
                color: #DD4B39;
            }
            &.o_facebook:hover {
                color: #3b5998;
            }
             &.o_linkedin:hover {
                color: #0E76A8;
            }
            &.o_github:hover {
                color: #24292E;
            }
        }
    }
}