.o_main_navbar {
    border-bottom: 1px solid #7c7bad;
    & .dropdown-menu {
        border: 1px solid @color-btn-dropdown;
    }
    & .dropdown-header {
        color: @color-btn-dropdown;
        font-weight: @font-weight-bold;
    }
    & .dropdown-menu .divider {
        background-color: rgb(0, 102, 204, 0.15);
    }
    & .dropdown-menu > li > a {
        color: @color-main;
        &:hover, &:focus, &:active {
            background-color: @color-bg-hover-btn-dropdown-editor;
            color: @color-hover-btn-dropdown-editor;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}