footer {
    background: var(--color-bg-footer, @color-bg-footer);
    color: @color-text-footer;
    // Heads
    & h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }
    // links
    & a {
        color: @color-footer-link;
        &:hover, &:focus, &:active {
            font-size: 1.5rem;
            font-weight: bold;
            color: @color-footer-link-hover;
            text-decoration: none;
        }
    }
    // Block content
    & #footer {
        border-top: @border-top-content-footer;
        border-bottom: @border-bottom-content-footer;
        padding-top: @padding-top-content-footer;
        padding-bottom: @padding-bottom-content-footer;
        & .container {
            margin-top: @margin-top-content-footer;
        }
    }
    // Connect with us
    & ul.list-unstyled {
        // Margin with under social links
        & address {
            margin-bottom: 0;
        }
        .fa-fw {
            width: 1rem;
            text-align: center;
        }
    }
    // Certificates
    .o_certificate {
        & img {
            margin: 8px;
        }
    }
}
