// Database selector
.oe_website_login_container {
    & .field-db {
        & input.form-control[readonly] {
            border: 1px solid @color-readonly-btn;
            color: @color-main;
        }
    }
    & .oe_login_buttons {
        a, .btn {
            margin: 4px;
        }
        a:hover, a:focus, a:active,
        a:active:hover, a:active:focus {
            text-decoration: none;
        }
    }
}